{% extends 'base.html' %}

{% block content %}
<!-- Top App Bar -->
<div
    class="flex items-center bg-background-light dark:bg-background-dark p-4 pb-2 justify-between sticky top-0 z-10 border-b border-gray-200 dark:border-gray-800">
    <div class="flex size-12 shrink-0 items-center justify-start">
        <a href="javascript:history.back()"
            class="flex size-10 items-center justify-center text-gray-800 dark:text-gray-200 rounded-full hover:bg-gray-100 dark:hover:bg-gray-800">
            <span class="material-symbols-outlined text-2xl">arrow_back_ios_new</span>
        </a>
    </div>
    <h2 class="text-gray-900 dark:text-gray-50 text-lg font-bold leading-tight tracking-[-0.015em] flex-1 text-center">
        Notifications</h2>
    <div class="flex w-12 items-center justify-end">
        <button
            class="flex max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-12 bg-transparent text-gray-800 dark:text-gray-200 gap-2 text-base font-bold leading-normal tracking-[0.015em] min-w-0 p-0">
            <span class="material-symbols-outlined text-2xl">settings</span>
        </button>
    </div>
</div>

<!-- Dynamic Notifications Container -->
<div id="notifications-list" class="flex flex-col gap-px">
    <div class="flex flex-col items-center justify-center text-center p-12 mt-8">
        <div class="animate-spin rounded-full h-12 w-12 border-b-2 border-primary"></div>
        <p class="text-sm text-gray-500 mt-4 italic">Chargement des notifications...</p>
    </div>
</div>
{% endblock %}